@use "/src/styles/variables" as v;
@use "/src/styles/shadow" as s;

.button {
  position: fixed;
  bottom: 32px;
  right: 32px;

  padding: 12px;
  line-height: 0;

  background-color: v.$primary;
  border-radius: v.$radius;

  @extend %animatedShadow;
}
