@use "/src/styles/variables" as v;

.screen {
  display: flex;
  flex-direction: column;
  //justify-content: space-evenly;
  align-items: center;

  width: 100%;
  //min-height: 100vh;

  h2 {
    font-size: 2em;
  }
}

.gradient {
  background: rgb(175, 223, 255);
  background: linear-gradient(322deg, v.$primary 0%, v.$secondary 100%);

  color: white;
}
