@use "/src/styles/variables" as v;
@use "/src/styles/shadow" as s;

%button {
  all: unset;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 6px 12px;
  border-radius: v.$radius;

  transition: background-color 80ms cubic-bezier(0.4, 0, 0.2, 1);

  img {
    margin-right: 8px;
  }

  @extend %animatedShadow;
}

%whiteButton {
  @extend %button;

  border-radius: v.$radius;
  background-color: #ffffff;
  color: black;

  cursor: pointer;

  &:hover {
    background-color: #f0f0f0;
  }
}

%primaryButton {
  @extend %button;

  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.12em;

  border: white solid 2px;
  background-color: v.$primary;
  &:hover {
    background-color: v.$primaryHover;
  }
  &:focus {
    background-color: v.$primaryFocus;
  }
}
