@use "sass:color";

// Colors
$dark-background: #212121;

$primary: #2e3192;
$primaryHover: color.scale($primary, $lightness: 20%);
$primaryFocus: color.scale($primary, $lightness: -20%);

$secondary: #52b0e0;
$secondaryHover: color.scale($secondary, $lightness: -20%);
$secondaryFocus: color.scale($secondary, $lightness: 20%);

// border radius

$radius: 32px;
