@use "./variables" as v;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
  color: v.$primary;

  &:hover,
  &:focus,
  &:active {
    color: v.$secondary;
  }
}
