@use "/src/styles/media" as m;

.about {
  padding-bottom: 128px;
}

.content {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

  article {
    max-width: 50vw;

    .title {
      h2 {
        text-align: left;
      }
    }

    .text {
      font-size: 1.4rem;
    }

    .stars {
      margin-bottom: 80px;
    }

    @include m.forMedium() {
      max-width: 80vw;
    }
  }
}
