@use "/src/styles/media" as m;
@use "/src/styles/button" as b;
@use "/src/styles/variables" as v;

.logo {
  margin: 64px 0;
  max-width: 50%;

  @include m.forMedium() {
    max-width: 80%;
  }
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  width: 100%;
  margin-bottom: 64px;
  section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    width: min-content;
    margin: 32px;

    img {
      width: 128px;
      margin-right: 16px;

      @include m.forMedium() {
        width: 64px;
      }
    }

    h2 {
      font-size: 1.5em;
      margin-top: 0;
      margin-bottom: 8px;
    }
    p {
      margin: 0;
      min-width: 200px;
    }
  }
}
