@use "/src/styles/variables" as v;
@use "/src/styles/media" as m;
@use "/src/styles/button" as b;
@use "/src/styles/shadow" as s;

.title {
  font-size: 1.5em;
  padding: 0 16px;
  margin-top: 0;
}

.form {
  display: grid;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  width: 600px;

  padding: 0 16px;
  margin-bottom: 64px;

  @include m.forMedium() {
    width: 80vw;
    grid-template-columns: 1fr;
  }

  label {
    font-weight: 600;
  }
}

.textField {
  display: flex;
  flex-direction: column;

  input,
  textarea {
    all: unset;
    place-items: center;
    padding: 4px;

    margin-top: 2px;

    border-bottom: 1px solid #ffffff80;

    font-size: 1rem;
    line-height: 1.5rem;

    &:hover {
      border-color: white;
    }

    &:focus {
      border-width: 2px;
      padding: 3px;
      border-color: white;
    }
  }

  textarea {
    flex-grow: 1;
    resize: none;
    overflow-wrap: break-word;
    box-sizing: border-box;
    min-height: 128px;
  }
}

.gridLargeItem {
  grid-column: 1/3;

  @include m.forMedium() {
    grid-column: unset;
  }
}

.file {
  div {
    @extend %whiteButton;

    padding: 16px;
    margin: 16px;
    margin-bottom: 0;
  }
  input {
    padding: 4px;
    margin-top: 2px;
    font-size: 1rem;
    line-height: 1.5rem;
    max-width: 80vw;
    margin-left: 16px;

    &::file-selector-button {
      display: none;
    }
  }
}

.send {
  @extend %primaryButton;
  grid-column: 2/3;
  margin-left: auto;
  width: fit-content;

  @include m.forMedium() {
    grid-column: unset;
  }
}
