@use "/src/styles/variables" as v;
@use "/src/styles/media" as m;
@use "/src/styles/button" as b;

.title {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  margin-bottom: 16px;

  h2 {
    margin: 0;
  }

  p {
    font-size: 1.5em;
    width: 360px;
  }

  @include m.forMedium() {
    width: 80vw;
    img {
      display: none;
    }

    p {
      max-width: 80vw;
    }
  }
}
