@use "/src/styles/media" as m;
@use "/src/styles/variables" as v;
@use "/src/styles/shadow" as s;

.header {
  width: 100%;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
  }

  a {
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.left {
  display: flex;
  align-items: center;

  .image {
    line-height: 0;
    margin: 16px;
  }

  .links {
    padding-left: 16px;
    a {
      margin-right: 20px;
    }
  }

  @include m.forMedium() {
    display: none;
  }
}

.budget {
  a {
    display: flex;
    margin-right: 16px;
    padding: 4px 16px;

    font-weight: bold;
  }
  @include m.forMedium() {
    display: none;
  }
}

.mobile {
  display: none;

  @include m.forMedium() {
    display: flex;
    margin-left: 16px;
    margin-top: 16px;

    button {
      all: unset;
      cursor: pointer;
    }
  }
}
