@use "/src/styles/media" as m;
@use "/src/styles/variables" as v;
@use "/src/styles/shadow" as s;

// Mobile Menu

.mobileMenu {
  background-color: #f1f1f1;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;

  overflow: scroll;

  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    margin: 40px;
    margin-top: 80px;
  }

  a {
    margin: 16px;
  }

  button {
    all: unset;
    cursor: pointer;

    position: absolute;
    left: 0;
    top: 0;
    margin-left: 16px;
    margin-top: 16px;
    img {
      margin: 0;
    }
  }

  transform: translateY(-100vh);
}
.mobileMenuEnterActive {
  transform: translateY(0);
  transition: transform 300ms;
}
.mobileMenuEnterDone,
.mobileMenuExit {
  transform: translateY(0);
}
.mobileMenuExitActive {
  transform: translateY(-100vh);
  transition: transform 300ms;
}

// Screen Darkener

.screenDarkener {
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;

  opacity: 0;
}
.screenDarkenerEnterActive {
  opacity: 0.8;
  transition: opacity 1000ms;
}
.screenDarkenerEnterDone,
.screenDarkenerExit {
  opacity: 0.8;
}
.screenDarkenerExitActive {
  opacity: 0;
  transition: opacity 1000ms;
}
