@use "/src/styles/variables" as v;

.thanks {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  img,
  h1,
  p {
    max-width: 80vw;
    text-align: center;
  }

  p {
    font-size: 1.4rem;
  }

  a {
    all: unset;
    cursor: pointer;

    font-size: 1.2rem;
    color: v.$primary;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.12em;
    padding: 8px 16px;

    border-radius: v.$radius;

    transition: background-color 80ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      background-color: #0000001f;
    }
    &:focus,
    &:active {
      background-color: #0000004d;
    }
  }
}
