@use "/src/styles/variables" as v;

.brazil {
  max-width: 95vw;

  path {
    fill: #e0e0e0;

    &:hover {
      fill: #c4c4c4;
    }
  }

  .available {
    fill: v.$secondary;

    &:hover {
      fill: v.$secondaryHover;
    }
  }
}
