@use "/src/styles/variables" as v;

$animation-duration: 300ms;

.title {
  margin: 64px 32px;
  text-align: center;
}

.content {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

  padding-bottom: 64px;
}

.units {
  list-style: none;
  padding-left: 0;

  width: 400px;
  max-width: 95vw;
}
.unitsEnter {
  opacity: 0;
  transform: translateY(50px);
}
.unitsEnterActive {
  opacity: 1;
  transform: translateY(0px);

  transition: opacity $animation-duration, transform $animation-duration;
}
.unitsEnterDone,
.unitsExit {
  opacity: 1;
  transform: translateY(0px);
}
.unitsExitActive {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity $animation-duration, transform $animation-duration;
}

.unit {
  margin: 32px;

  h3 {
    font-size: 1.5rem;
    text-align: center;

    margin: 16px 0px;
    border-bottom: v.$primary solid;
  }

  ul {
    padding-left: 0;
    list-style: none;

    a {
      display: flex;
      align-items: center;

      img {
        margin: 8px;
        margin-left: 0;
      }
    }
  }
}
