.imageModal {
  align-self: center;
  line-height: 0;
  overflow: hidden;
  border-radius: 50%;

  img {
    max-width: 90vw;

    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 1s;
    &:hover {
      transform: scale(1.2);
    }
  }
}
